
#but1 {
    width: 2rem;
    height: 2rem;
    margin: 0 .5rem;
    background-color: red;
}

#but2 {
    width: 2rem;
    height: 2rem;
    margin: 0 .5rem;
    background-color: green;
}

#empty {
    font-size: 3rem;
    margin: 9rem auto 0 auto;
}